@import "tailwindcss";

@font-face {
  font-family: "yekan-medium";
  src: url("fonts/YekanBakh/YekanBakh-Medium.ttf");
}
@font-face {
  font-family: "sans-medium";
  src: url("fonts/Sans/Sans-Medium.ttf");
}
@font-face {
  font-family: "sans-regular";
  src: url("fonts/Sans/Sans-Regular.ttf");
}

@layer components {
  .container {
    @apply max-w-full flex flex-col;
  }
  .second-container {
    @apply xl:!px-33 !px-4;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

.landscop-container {
  @apply max-w-[1290px] mx-auto;
}

a {
  cursor: pointer;
}

@theme {
  --color-primary-color: #97b545;
  --color-secondary-color: #0f3714;
  --color-third-color: #ddb01d;
  --color-four-color: #1d5823;
  --color-body_bg-color: #fff;
  --color-primary-color-rgb: 151, 181, 69;
  --color-secondary-color-rgb: 15, 55, 20;
  --color-third-color-rgb: 221, 176, 29;
  --color-four-color-rgb: 29, 88, 35;
  --color-body_bg-color-rgb: 255, 255, 255;
  --color-link-color: #000000;
  --color-link-color-hover: #97b545;
  --color-link-color-active: #97b545;
  --color-gradient-color-from: #fff48d;
  --color-gradient-color-to: #f4be29;
  --color-gradient-two-color-from_two: #fff48d;
  --color-gradient-two-color-to_two: #f4be29;

  --font-regular: "sans-regular";
}

body {
  font-family: "sans-medium";
  overflow-x: hidden;
}

.title-with-line {
  position: relative;
}

.title-with-line::after {
  content: "";
  display: block;
  width: 70px; /* طول خط */
  height: 3px;
  left: 50%;
  transform: translateX(-50%); /* ضخامت خط */
  background-color: #22c55e; /* سبز */
  margin-top: 16px; /* فاصله از متن */
}

.transition-custom-style {
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.background-image-custom {
  background-image: url("./../../public/images/human.jpg");
  width: 100%;
  height: 500px;
  border-radius: 0px 80px 0px 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-style-tick {
  color: white;
  list-style: url("images/tick.svg");
}

.our-img1 {
  background-image: url("./../../public/images/our/img1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.our-img1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, #1d5823, transparent);
  z-index: 10;
  pointer-events: none;
}

.our-img2 {
  background-image: url("./../../public/images/our/img2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.our-img2::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to left, #97b545, transparent);
  z-index: 10;
  pointer-events: none;
}

.bg-describe {
  background-image: url(./../../public/images/describe.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.achievement-bg {
  background-image: url("./../../public/images/achievement/bg1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.achievement-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  inset: 0;
  height: 100%;
  background-color: #1c4b217d;
}

.bg-custom {
  position: relative;
}

.bg-custom::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 60px 60px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.linear-gradient-custom-bg {
  background: linear-gradient(
    0deg,
    #0f3714 26.86%,
    rgba(15, 55, 20, 0.67) 79.37%,
    rgba(15, 55, 20, 0) 111.98%
  );
}

.styles {
  max-width: 270px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 454px;
  transition: box-shadow 0.6s ease;
  border-radius: 0 80px;
  margin-left: auto;
  margin-right: auto;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  transform-style: preserve-3d;
  border-radius: 0px 80px;
  box-shadow: none;
  transition: all 0.3s ease-in;
}
.styles:hover {
  transform: translate(0px, -24px) rotateY(180deg);
}

.why-us_bg {
  background-image: url("../../public/images/bg1.jpg");
  width: 100%;
  height: 1207px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  background-color: #97b545;
  -webkit-border-radius: 0 80px;
  -khtml-border-radius: 0 80px;
  -moz-border-radius: 0 80px;
  -ms-border-radius: 0 80px;
  -o-border-radius: 0 80px;
  border-radius: 0 80px;
  text-align: center;
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 454px;
  max-height: 454px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0px, 0px);
  backface-visibility: hidden;
  transition: all 0.3s ease-in;
}

.hid {
  background-color: #fff;
  -webkit-border-radius: 80px 0;
  -khtml-border-radius: 80px 0;
  -moz-border-radius: 80px 0;
  -ms-border-radius: 80px 0;
  -o-border-radius: 80px 0;
  border-radius: 80px 0;
  text-align: center;
  padding: 60px 44px 60px 44px;
  min-height: 454px;
  max-height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.3s ease-in;
}

.bg-linear_custom {
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.48) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#svg-style {
  position: relative;
}

#svg-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 1000px;
  border: 2px dashed rgba(29, 88, 35, 0.5);
}

.pricing-package_bg {
  background-color: transparent;
  background-image: linear-gradient(180deg, #eaf0da 0%, #ffffff00 100%);
}

#top_level {
  transition: all 0.6s linear;
  transform: translateY(-30px);
  box-shadow: 0px 10px 20px #0000000f;
}

.bg-custom_jangle::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image: url(../../public/images/jangle.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*!  infinity slider  */
.logo-slider {
  overflow: hidden;
  width: 100%;
  background-color: #eaf0da;
  height: 200px;
  display: flex;
  align-items: center;
}

.wrapper-slider {
  width: 100%;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.slide-track img {
  width: 150px;
  margin-right: 60px; /* به جای gap */
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/*!  infinity slider  */

.bg-custom_image {
  background-image: url("../../public/images/footer/bg2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bg-custom_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #0f3714b9;
}

.before_line {
  position: relative;
}

.before_line::before {
  content: "";
  position: absolute;
  right: 0;
  top: 40px;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #97b545;
}

.active-link {
  padding-right: 20px;
}

.active-link img {
  transform: scale(100%);
  right: 4px;
}

.divide-before {
  position: relative;
}

.divide-before::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.388);
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

@media (max-width: 1023px) {
  .our-img1::before {
    display: none;
  }
  .our-img2::before {
    display: none;
  }
  .why-us_bg {
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
  }
  .bg-custom_bg_whyus {
    background-image: url(./../../public/images/friends.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 504px;
    border-radius: 25px;
  }
  #top_level {
    transition: all 0.6s linear;
    transform: translateY(0px);
    /* box-shadow: 0px 10px 20px #0000000f; */
  }
}

.best-service_slider .swiper-wrapper {
  @apply mt-10;
}

.latest-project_slider {
  @apply w-full flex items-center justify-center p-2;
}

.customer-review_slider {
  @apply relative w-full flex items-center;
}
.customer-review_slider .swiper-wrapper {
  @apply relative py-7;
}

.our-blogs_slider {
  @apply relative w-full flex items-center;
}
